{%extends "app/base.html"%}
{%block content%}
    <h2>Antenas</h2>
    <table>
        <thead>
            <tr>Aplicacion</tr>
            <tr>Fecuencia de operacion</tr>
            <tr>Empresa dueña</tr>
            <tr>Marca</tr>
            <tr>Modelo</tr>
        </thead>
        <tbody>
            {% for antena in antenas%}
            <tr>
                <td>{{antena.aplicacion}}</td>
                <td>{{antena.frecuencia_op}}</td>
                <td>{{antena.empresaduena}}</td>
                <td>{{antena.marca}}</td>
                <td>{{antena.modelo_antena}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{%endblock%}